src/main/mule/implementations/get-covid-case-by-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\cases\(nationalID):uhub-sapi-config">
		<ee:transform doc:name="Transform Message">
			<ee:variables>
				<ee:set-variable variableName="nationalID">attributes.uriParams.'nationalID'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    source: "Hospital1",
    caseID: "456464",
    caseType: "positive",
    firstName: "John",
    lastName: "Nixon",
    phone: "541-754-3010",
    email: "john@gmail.com",
    dateOfBirth: "1989-04-26",
    nationalID: "209-49-6193",
    nationalIDType: "SSN",
    address: {
      streetAddress: "1600 Pennsylvania Avenue NW",
      city: "Washington",
      state: "DC",
      postal: "20500",
      country: "USA"
    },
    createDate: "2021-06-26",
    updateDate: "2021-06-26"
  }, 
  {
    source: "Hospital1",
    caseID: "528293",
    caseType: "negative",
    firstName: "John",
    lastName: "Nixon",
    phone: "541-754-3010",
    email: "john@gmail.com",
    dateOfBirth: "1989-04-26",
    nationalID: "209-49-6193",
    nationalIDType: "SSN",
    address: {
      streetAddress: "1600 Pennsylvania Avenue NW",
      city: "Washington",
      state: "DC",
      postal: "20500",
      country: "USA"
    },
    createDate: "2021-06-26",
    updateDate: "2021-06-26"
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform
			doc:name="Set correlationId And transactionId"
			doc:id="dd6ecc28-6ebf-4497-992e-39ea58fa6126">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="transactionId"><![CDATA[attributes.headers.'x-transaction-id' default uuid()]]></ee:set-variable>
				<ee:set-variable variableName="correlationId"><![CDATA[attributes.headers.'x-correlation-id' default ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log"
			doc:id="f387e863-e952-48a6-9508-f8621c9f2d17"
			message='transactionID: #[vars.transactionId], correlationID: #[vars.correlationId], message: "Started update covid case flow", payload: #[payload]' />
		<db:select doc:name="Select Case by NationalID"
			doc:id="c706b627-373b-4bce-80c0-00924af478fb"
			config-ref="Database_Config">
			<db:sql><![CDATA[select case_id, source, case_type, first_name, last_name, phone, email, date_of_birth, national_id, national_id_type, street_Address, city, state, postal, country, create_date, update_date from cvd_case_master where national_id = :national_id]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	national_id: vars.nationalID
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice"
			doc:id="8939b558-dee3-41f4-9228-4fc83fd334f9">
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Set Success Response"
					doc:id="c475ff7b-ac07-48b6-925c-f7a25191deb6">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (covidCase, indexOfCovidCase) -> {
	caseID: covidCase.case_id,
    source: covidCase.source,
    caseType: covidCase.case_type,
    firstName: covidCase.first_name,
    lastName: covidCase.last_name,
    phone: covidCase.phone,
    email: covidCase.email,
    dateOfBirth: covidCase.date_of_birth as String {format: "yyyy-MM-dd"},
    nationalID: covidCase.national_id,
    nationalIDType: covidCase.national_id_type,
    address: {
      streetAddress: covidCase.street_address,
      city: covidCase.city,
      state: covidCase.state,
      postal: covidCase.postal,
      country: covidCase.country
    },
    createDate: covidCase.create_date as String {format: "yyyy-MM-dd"},
    updateDate: covidCase.update_date as String {format: "yyyy-MM-dd"}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<raise-error doc:name="Raise error"
					doc:id="a30b5653-a27f-41b3-a0fc-6bb619101589"
					type="CUSTOM:CASE_NOT_FOUND"
					description="The server has not found anything matching the Request-URI" />
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End Log"
			doc:id="2031c2b1-1db8-4ff6-9ac2-4e55d7e4c34f"
			message="transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: Completed get covid case by national id flow, payload: #[payload]" />
		<error-handler>
			<on-error-continue enableNotifications="true"
				logException="true" doc:name="On Error Continue"
				doc:id="3550d442-255a-43a4-96e1-dbd1f51dca78"
				type="CUSTOM:CASE_NOT_FOUND">
				<ee:transform doc:name="Set Not Found Response"
					doc:id="ded57811-9940-4d37-acb9-7353eddc28f8">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"code": 404,
	"message": "Resource not found",
	"description": error.description,
	"dateTime": now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" },
	"transactionId": vars.transactionId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
